/*
COLORS:

black: #212121
gray: #757575
white: #FFFFFF
blue: #2196F3
background-color: #F5F4FA

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --second-accent-color: #ffffff;
  --background-color: #F5F4FA;
  --fotter-link-color: rgba(255, 255, 255, 0.6);
  --secondary-backround-color: #2f303a;
}


*/

*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  --brand-color: #2196f3;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --white-color: #ffffff;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --background-color: #e5e5e5;
  --secondary-backround-color: #f5f4fa;
  --footer-background-color: #2f303a;
}

/* var(--primary-text-color);*/

/* ДОМИНАНТНЫЙ ЦВЕТ ТЕКСТА */

.page {
  color: var(--secondary-text-color);
  background-color: var(--background-color);
}

.section-title {
  color: var(--primary-text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

/*   

            HEADER

*/

/* LOGO */
.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-web {
  color: var(--brand-color);
}

/* NAV */

/* LINKS:HOVER :FOCUS */

.site-nav-link {
  color: var(--primary-text-color);
}

.site-nav-address {
  color: var(--secondary-text-color);
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--brand-color);
}

.site-nav .current {
  color: var(--brand-color);
}

/*   

            HERO

*/

.hero {
  background-color: var(--footer-background-color);
}

.hero-title {
  color: var(--white-color);
}

.hero .button {
  color: var(--white-color);
  background-color: var(--brand-color);
}

/*   

            SECTION 1 WITH HIDDEN H2

*/

.hidden {
  display: none;
}

.features .title {
  color: var(--primary-text-color);
}
/*   

            SECTION 2 WHAT WE ARE DOING

*/

/*   

             SECTION 3 OUR TEAM

*/

.team .title {
  color: var(--primary-text-color);
}

/*   

            FOOTER

*/
.footer {
  background-color: var(--footer-background-color);
}
.footer .logo {
  color: var(--white-color);
}

.footer .address {
  color: var(--white-color);
}

.footer .link {
  color: var(--fotter-link-color);
}

/*   

            PORTFOLIO

*/

.portfolio-section .title {
  color: var(--primary-text-color);
}

/* PORTFOLIO BUTTONS:HOVER :FOCUS */
.buttonlist-button:hover,
.buttonlist-button:focus {
  color: var(--white-color);
  background-color: var(--brand-color);
}
