/*
COLORS:

black: #212121
gray: #757575
white: #FFFFFF
blue: #2196F3
background-color: #F5F4FA

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --second-accent-color: #ffffff;
  --background-color: #f5f4fa;
  --fotter-link-color: rgba(255, 255, 255, 0.6);
  --secondary-backround-color: #2f303a;
}


*/

*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  --brand-color: #2196f3;

  --primary-text-color: #212121;
  --title-text-color: #757575;
  --white-color: #ffffff;
}

/* var(--primary-text-color);*/

/* ДОМИНАНТНЫЙ ЦВЕТ ТЕКСТА */

body {
  color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

/*   

            HEADER

*/

/* LOGO */
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-web {
  color: var(--brand-color);
}

/* NAV */

/* LINKS:HOVER :FOCUS */
.site-nav a:hover,
.site-nav a:focus {
  color: var(--brand-color);
}

.site-nav .current {
  color: var(--brand-color);
}

/*   

            HERO

*/

.button {
  background-color: var(--brand-color);
  color: var(--white-color);
}

/*   

            SECTION 1 WITH HIDDEN H2

*/

/*   

            SECTION 2 WHAT WE ARE DOING

*/

/*   

             SECTION 3 OUR TEAM

*/

/*   

            FOOTER

*/
